Invitation to Shabitica from {{ v.INVITER }}

{{ v.INVITER }} has invited you to the self-hosted Habitica instance at
{{ v.BASE_URL }}/.

{{! TODO: guild versus party? }}

Please head to the following URL to accept your invitation:

{{ v.BASE_URL }}{{ v.LINK }}
