Password Reset for Shabitica

If you requested a password reset for Shabitica, head to
{{ v.PASSWORD_RESET_LINK }} to set a new one. The link will expire after 24
hours.

If you haven't requested a password reset, please ignore this email.
