Message from Habitica ({{ emailType }})

You got a new message from the self-hosted Habitica instance at
{{ v.BASE_URL }}/.

Unfortunately the email templates aren't in the official Habatica source code
nor are they public somewhere else, so unfortunately we can only send you a
dump of the template variables instead:

{{ v }}
{{ p }}

If possible, please report this along with these variables at
https://github.com/headcounter/shabitica and be sure to replace confidental
information with something harmless, eg. "XXX".

Apologies for the inconvenience.
